<!doctype html>
<html>
<head>
    <title>Wandering Wave</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <style>
      
    </style>
</head>
<body>
<div class="container">
