<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <% if (message && message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <hr>
        <div>
            <a style="margin-left:15px;margin-right:15px" href="/auth/google"><img style="width:29px" src="/assets/google-logo.png" /></a>
        </div>
        <hr>
    </div>

<% include foot.ejs%>
